.navbar {
    background-color: #f8f9fa;
}

.navbar-nav .nav-link {
    color: #000;
    margin-right: 15px;
}

/* Nieuwe stijlen voor de content secties */
.content-section {
    display: flex;
    padding: 40px;
}

.content-section img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.content-text {
    flex: 1;
}

/* Nieuwe stijlen voor de projectblokken */
section {
    padding-top: 50px;
}

img.img-fluid {
    max-height: 150px;
    object-fit: cover;
}

.row > .col-12 {
    background-color: #f8f9fa;  /* Lichte achtergrondkleur */
    border-radius: 8px;  /* Afgeronde hoeken */
    padding: 20px;  /* Binnenmarge voor de inhoud */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  /* Schaduw voor een modern effect */
}

.col-12.mb-4 {
    margin-bottom: 30px;
}

h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: #6c757d;
}

/* Afwisselende opmaak van de afbeeldingen (links en rechts) */
@media (min-width: 768px) {
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
}

